@model Backoffice.ViewModels.LoginViewModel  
@{
    ViewBag.Title = "Sign In";
}

<div id="view-login">
    @using(Html.BeginForm())
    {                       
        @Html.ValidationSummary(true)
                                   
        <fieldset>
            <legend>Sign In</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.LoginName, "Username")
                @Html.TextBoxFor(model => model.LoginName, new { placeholder = "Username", @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password, "Password")
                @Html.PasswordFor(model => model.Password, new { placeholder = "Password", @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary"><span class="glyphicon-lock"></span> Sign In</button>
        </fieldset>
    }
</div>

@section scripts
{
    <script>
        (function () {
            var $loginname = $('#LoginName'),
                $password = $('#Password');

            // Event binding
            $('#view-login').on('keyup', 'input', function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                    $(this).parents('form').first().submit();
                }
            });

            // Auto-focus
            if ($loginname.val() == '') {
                $loginname.select().focus();
            }
            else {
                $password.select().focus();
            }
        })();
    </script>
}